// bower:scss
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import 'vendor/chosen.css';

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
}

body {
    background: #F5F2F1;
    color: #313130;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
}

h2, h3, h4, h5, h6 { font-weight: 700; line-height: 1.1em; }

h2 { font-size: 28px; }

h3 { font-size: 23px; font-weight: 300; }
.card h3 { font-size: 20px; font-weight: 700; }

p { max-width: 600px; }

a {
    color: #286080;
    text-decoration: none;
}

img {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
    td, th {
        padding: 0;
        text-align: left;
        vertical-align: text-top;
    }
}

.row {
    width: 100%;
    padding: 0 10px;

    > div {
        float: left;
        padding: 10px;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
    > div.row { padding: 0; }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

header, main, footer {
    > div {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.mobile-col-2 {
    @media screen and (max-width: 767px) {
        width: 50% !important;
    }
    @media screen and (max-width: 479px) {
        width: 100% !important;
    }
}

.card {
    background: #fff;
    box-shadow: 1px 1px 3px #918E8C;
    overflow: hidden;
    padding: 20px
}

.img-card {
    line-height: 0;
    padding: 0;
}

input[type="checkbox"] {
    @extend .visually-hidden;

    & + label:before {
        content: "\f00c";
        width: 17px; height: 17px;
        background: #B9B7B5;
        color: #B9B7B5;
        display: inline-block;
        border-radius: 3px;
        border: 2px solid #B9B7B5;
        position: relative;
        font-family: FontAwesome;
        text-align: center;
        margin-right: 3px;
        line-height: 15px;
    }
    &:focus + label:before {
        border-color: #286080;
    }
    & + label:hover:before {
        color: #A9A7A5;
    }
    &:checked + label:before {
        color: #286080;
    }
}

label { white-space: nowrap; }

#banner {
    img { transition: margin-top 500ms; }
    &.collapsed img { margin-top: -12.6%; }
}

.control-view {
    font-size: 13px;
    color: #626160;
}

.filters > * {
    margin-right: 12px;
    margin-bottom: 7px;
}

div.search {
    float: right;
}

.search {
    position: relative;
    z-index: 10;
    .search-bar {
        height: 33px;
        width: 105px;
        padding: 0 5px 0 33px;
        border: 2px solid #286080;
        outline: 0;
        background: #286080;
        color: #fff;
        border-radius: 4px;
        font-size: 17px;
        transition: width 500ms;
        position: relative;

        &:focus {
            background: #fff;
            color: #313130;
            width: 280px;

            + .search-icon:after {
                color: #286080;
            }
        }
    }
    .search-icon {
        position: absolute;
        left: 21px;
        top: 16px;

        &:after {
            font-family: FontAwesome;
            font-size: 16px;
            content: "\f002";
            color: #fff;
            left: 0px;
        }
    }
}

input.search-bar::-webkit-input-placeholder {
    color: #fff;
}
input.search-bar:-moz-placeholder {
    color: #fff;
}
input.search-bar::-moz-placeholder {
    color: #fff;
}
input.search-bar:-ms-input-placeholder {
    color: #fff;
}

.project-snapshot {
    width: 20%;
    @extend .mobile-col-2;
}

.project-status {
    span {
        display: block;
        line-height: 17px;
        padding-left: 24px;
    }
    .is-active {
        font-size: 17px;
        font-weight: 700;
        padding-top: 20px;
        color: #1A7764;
        position: relative;
        &:before {
            display: block;
            position: absolute;
            width: 20px; height: 20px;
            left: -1px; top: 19px;
            border-radius: 22px;
            background: #1A7764;
            content: "";
        }
        &.inactive {
            color: #822A15;
            &:before { background: #822A15; }
        }
    }
    .last-updated {
        font-size: 13px;
        color: #545352;
    }
}

.project-map {
    width: 30%;
    @extend .mobile-col-2;
    position: relative;
    @media screen and (min-width: 768px) { left: 50%; }
    > div.card {
        position: relative;
        &:after {
            padding-top: 80.137%;
            display: block;
            content: "";
        }
        div.map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
}

.project-summary {
    width: 50%;
    position: relative;
    @media screen and (min-width: 768px) { right: 30%; }
    line-height: 14px;
    td, th { padding-bottom: 8px; }
    td { padding-left: 8px; }

    > div.card {
        min-height: 220px;
    }
}

.project-description {
    width: 60%;
    height: inherit;
    p { margin: 17px 0 28px 0; }

    > div.card {
        max-height: 9999px;
        transition: max-height 500ms;
        position: relative;

        &:after {
            display: block;
            position: absolute;
            bottom: 0; left: 0; right: 0;
            height: 48px;
            content: "";
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
        }
    }
    &.collapsed > div.card {
        max-height: 216px;
    }
}

.project-milestones {
    width: 40%;
    line-height: 14px;
    > div.card { padding: 20px 0; }
    h3 { padding-left: 20px; }
    table { width: 100%; }
    th:first-child { padding-left: 20px; padding-right: 8px; }
    td:last-child { padding-right: 10px; }
    td, th { padding: 4px 0; min-width: 75px; }
    th { font-weight: 400; }
    td { font-weight: 700; }
    tbody tr:nth-child(odd) {background: #F7F7F7}
}

.funding-over-time {
    width: 100%;
}

.historical-plans {
    width: 100%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.visually-hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}
